.contenedor {
  padding: 40px 40px 40px 40px;
  text-align: -webkit-center;
}

mat-card {
  width: 800px;
  height: 624px;
  text-align: left;
  padding: 40px 70px 70px 70px;
}

card-title {
  padding-top: 30px;
}

.mat-form-field-flex ng-tns-c102-0 {
  padding-right: 313px;
}

mat-form-field {
  margin-right: 12px;
}
