/* You can add global styles to this file, and also import other style files */

html,
body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.contain {
  display: flex;
}

/* OCULTAR LA HORA EN LAS COLUMNAS DE LOS BOXES*/
.box .cal-time {
  display: none !important;
  text-align: inherit;
}

/* SE UTILIZA PARA EL ANCHO DE LOS EVENTOS */
.cal-day-view .cal-events-container {
  margin-left: 0px;
  width: 100%;
}

.cal-week-view .cal-ends-within-day .cal-event {
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

/* PARA CENTRAR LOS EVENTOS */
.cal-week-view * {
  text-align: -webkit-center;
  font-size: 13px;
  font-family: sans-serif;
  color: white;
}

/* ESTILOS CALENDARIO*/
.calendar {
  width: 70%;
  padding-top: 102px;
  padding-left: 30px;
  padding-right: 10px;
  padding-bottom: 60px;
  margin-left: 40px;
}

.nombre-box {
  border-top: 1px solid;
  border-bottom: 1px solid;
  border-right: 1px solid;
}

.horario {
  border-top: 1px solid;
  border-bottom: 1px solid;
  border-right: 1px solid;
  border-left: 1px solid;
}

.modal-backdrop {
  background-color: transparent;
}

.modal-content {
  max-width: 243px;
}

.mat-card {
  margin: 0px !important;
}

.modal-reservar-cancelar .modal-content {
  height: 106;
  width: 240;
}


/* HORAS BLOQUEADAS */
.cal-day-segment-disabled, .cal-day-segment-disabled:hover {
  background-color: grey !important;
  cursor: not-allowed;
}

.hora-bloqueada {
  cursor: not-allowed !important;
  background-color: #DADADA !important;
}

.hora-disponible {
  cursor: pointer !important;
  background-color: #FCECB4 !important;
}

/* UTILIZADO PARA MOSTRAR SEGMENTOS DE HORAS */
.cal-day-view .cal-hour-segment.cal-after-hour-start .cal-time {
  display: block;
}

/* COLOR HORAS EN CALENDARIO */
.cal-week-view .cal-time {
  color: black;
}
