/* You can add global styles to this file, and also import other style files */

html,
body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.contain {
  display: flex;
}

/* OCULTAR LA HORA EN LAS COLUMNAS DE LOS BOXES*/
.box .cal-time {
  display: none !important;
  text-align: inherit;
}

/* SE UTILIZA PARA EL ANCHO DE LOS EVENTOS */
.cal-day-view .cal-events-container {
  margin-left: 0px;
  width: 100%;
}

.cal-week-view .cal-ends-within-day .cal-event {
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

/* PARA CENTRAR LOS EVENTOS */
.cal-week-view * {
  text-align: -webkit-center;
  font-size: 13px;
  font-family: sans-serif;
  color: white;
}

/* ESTILOS CALENDARIO*/
.calendar {
  width: 70%;
  padding-top: 59px;
  padding-left: 30px;
  padding-right: 60px;
  padding-bottom: 60px;
  margin-left: 40px;
}

.nombre-box {
  border-top: 1px solid;
  border-bottom: 1px solid;
  border-right: 1px solid;
}

.horario {
  border-top: 1px solid;
  border-bottom: 1px solid;
  border-right: 1px solid;
  border-left: 1px solid;
}

.modal-backdrop {
  background-color: transparent;
}

.modal-content {
  // max-width: 243px;
  max-width: 100%;
  height: 100%;
}

.mat-card {
  margin: 0px !important;
}

// .modal-reservar-cancelar .modal-content {
//   height: 106px;
//   width: 240px;
// }


.modal-reservar-cancelar {
  max-width: 680px !important;
}


/* HORAS BLOQUEADAS */
.cal-day-segment-disabled,
.cal-day-segment-disabled:hover {
  background-color: grey !important;
  cursor: not-allowed;
}

.hora-bloqueada {
  cursor: not-allowed !important;
  background-color: #dadada !important;
}

.hora-disponible {
  cursor: pointer !important;
  background-color: #fcecb4 !important;
}

/* UTILIZADO PARA MOSTRAR SEGMENTOS DE HORAS */
.cal-day-view .cal-hour-segment.cal-after-hour-start .cal-time {
  display: block;
}

/* COLOR HORAS EN CALENDARIO */
.cal-week-view .cal-time {
  color: black;
}

.hora-bloqueada .cal-week-view .cal-event {
  background-color: grey !important;
}

.align-self-center {
  align-self: center;
}

/* PRIMARY COLOR */
.mat-flat-button.mat-primary, .mat-raised-button.mat-primary,
.mat-fab.mat-primary, .mat-mini-fab.mat-primary {
  background-color: #F4C004 !important;
}

/* ACCENT COLOR */
.mat-flat-button.mat-accent, .mat-raised-button.mat-accent,
.mat-fab.mat-accent, .mat-mini-fab.mat-accent {
  color: #F4C004;
  background-color: transparent;
}

.special-date {
}

.cdk-overlay-container {
  z-index: 99999;
}

:disabled {
  cursor: not-allowed;
}


.modal-anular {
  margin-top: 10% !important;
}


