.container {
  margin-left: 40px;
  margin-top: 40px;
  width: 400px;
  border-right: 1px solid black;
  margin-right: 30px;
}

h2 {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 18px;
  margin-bottom: 30px;
}

h3 {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 16px;
  margin-bottom: 30px;
}

.width-input {
  width: 307px;
}

.btn-busqueda-rut {
  display: flex;
  padding-left: 230px;
  margin-bottom: 30px;
}

.cancelarHorasPorEspecialista {
  width: 315px;
  height: 504px;
  background-color: #f3f3f3;
  padding: 20px 20px 20px 20px;
}

.filtrosAnularBusqueda {
  margin-bottom: 30px;
}

.mat-button-toggle {
  padding: 0 25px 0 25px;
}

mat-form-field {
  margin-right: 12px;
}

mat-card {
  width: 243px;
  height: 350px;
  padding: 14px 14px 14px 14px;
}

mat-card-tittle {
  padding-bottom: 10px;
}

mat-card-content {
  margin-top: 20px;
  margin-bottom: 20px;
}

ul {
  padding: 0px;
  display: inline-block;
}

ul li {
  list-style: none;
  margin-bottom: 5px;
}

.mat-header {
  padding-left: 11px;
}

.box {
  display: flex;
}

.anularHoras {
  margin-top: 40px;
  margin-right: 10px;
  margin-bottom: 10px;
}

mat-form-field {
  margin-right: 12px;
}

