<div class="page">
  <div class="menu">
    <app-header></app-header>
  </div>
  <div class="container">
    <h2>Anular horas</h2>
    <h3>Buscar horas por clientes:</h3>
    <mat-form-field class="busqueda-clientes" appearance="outline">
      <mat-label>Escribe el RUT del cliente</mat-label>
      <input matInput type="text" [(ngModel)]="value" />
      <button
        mat-button
        *ngIf="value"
        matSuffix
        mat-icon-button
        aria-label="Clear"
        (click)="value = ''"
      >
        <mat-icon>close</mat-icon>
      </button>
    </mat-form-field>
    <div class="btn-busqueda-rut">
      <button mat-raised-button color="primary">Buscar</button>
    </div>

    <div class="cancelarHorasPorEspecialista">
      <h3>Anular hora por especialista:</h3>
    </div>
  </div>
  <router-outlet></router-outlet>
</div>
