<div class="page">
  <div class="menu">
    <app-header></app-header>
  </div>
  <div class="box">
    <div class="container">
      <div class="filtrosAnularBusqueda">
        <h2>Anular horas</h2>
        <div class="button-row">
          <mat-button-toggle-group name="fontStyle" aria-label="Font Style">
            <mat-button-toggle
              (change)="changeValueButton($event.value)"
              value="filtroPaciente"
              >Pacientes
            </mat-button-toggle>
            <mat-button-toggle
              (change)="changeValueButton($event.value)"
              value="filtroEspecialista"
              >Especialista</mat-button-toggle
            >
          </mat-button-toggle-group>
        </div>
      </div>
      <div *ngIf="valueButton == 'filtroPaciente'">
        <h3>Anular hora por:</h3>
        <mat-form-field class="busqueda-clientes" appearance="outline">
          <mat-label>Escribe el RUT del cliente</mat-label>
          <input matInput type="text" [(ngModel)]="value" />
          <button
            mat-button
            *ngIf="value"
            matSuffix
            mat-icon-button
            aria-label="Clear"
            (click)="value = ''"
          >
            <mat-icon>close</mat-icon>
          </button>
        </mat-form-field>
        <div class="btn-busqueda-rut">
          <button mat-raised-button color="primary">Buscar</button>
        </div>
      </div>

      <div *ngIf="valueButton == 'filtroEspecialista'">
        <h3>Anular hora por especialista:</h3>
        <mat-form-field class="busquedaPorEspecialista" appearance="outline">
          <mat-label style="font-size: 12px"> Seleccionar </mat-label>
          <mat-select
            (selectionChange)="changeValueEspecialista($event.selectedIndex)"
          >
            <mat-option
              *ngFor="let especialista of toppingList"
              [value]="especialista"
            >
              {{ especialista.nombre }}
            </mat-option>
          </mat-select>
        </mat-form-field>
        <div class="rangoDeFechas">
          <h3>Rango de fechas:</h3>
          <mat-form-field appearance="outline">
            <mat-label>Fecha inicio de busqueda</mat-label>
            <input matInput [matDatepicker]="picker" />
            <mat-datepicker-toggle
              matSuffix
              [for]="picker"
            ></mat-datepicker-toggle>
            <mat-datepicker #picker></mat-datepicker>
          </mat-form-field>

          <mat-form-field appearance="outline">
            <mat-label>Fecha fin de busqueda</mat-label>
            <input matInput [matDatepicker]="picker" />
            <mat-datepicker-toggle
              matSuffix
              [for]="picker"
            ></mat-datepicker-toggle>
            <mat-datepicker #picker></mat-datepicker>
          </mat-form-field>
        </div>
      </div>
    </div>
    <div class="anularHoras">
      <mat-card>
        <mat-card-tittle>
          <img
            src="assets/images/pendiente-de-confirmacion.png"
            alt=""
            style="padding-bottom: 25px"
          />
          <ul>
            <li class="mat-header" style="font-weight: 600">Paciente:</li>
            <li class="mat-header" style="font-weight: 400">Especialista:</li>
          </ul>
        </mat-card-tittle>
        <mat-card-content>
          <ul>
            <li>
              <span class="card-content">Hora:</span>
            </li>
            <li>
              <span class="card-content">Consulta:</span>
            </li>
            <li>
              <span class="card-content">Email:</span>
            </li>
            <li>
              <span class="card-content">Previsión:</span>
            </li>
            <li>
              <span class="card-content">Pago:</span>
            </li>
          </ul>
          <div>
            <button mat-raised-button>Anular</button>
            <button mat-raised-button color="primary">Reagendar</button>
          </div>
        </mat-card-content>
      </mat-card>
    </div>
    <div class="anularHoras">
      <mat-card>
        <mat-card-tittle>
          <img
            src="assets/images/pendiente-de-confirmacion.png"
            alt=""
            style="padding-bottom: 25px"
          />
          <ul>
            <li class="mat-header" style="font-weight: 600">Paciente:</li>
            <li class="mat-header" style="font-weight: 400">Especialista:</li>
          </ul>
        </mat-card-tittle>
        <mat-card-content>
          <ul>
            <li>
              <span class="card-content">Hora:</span>
            </li>
            <li>
              <span class="card-content">Consulta:</span>
            </li>
            <li>
              <span class="card-content">Email:</span>
            </li>
            <li>
              <span class="card-content">Previsión:</span>
            </li>
            <li>
              <span class="card-content">Pago:</span>
            </li>
          </ul>
          <div>
            <button mat-raised-button>Anular</button>
            <button mat-raised-button color="primary">Reagendar</button>
          </div>
        </mat-card-content>
      </mat-card>
    </div>
    <div class="anularHoras">
      <mat-card>
        <mat-card-tittle>
          <img
            src="assets/images/pendiente-de-confirmacion.png"
            alt=""
            style="padding-bottom: 25px"
          />
          <ul>
            <li class="mat-header" style="font-weight: 600">Paciente:</li>
            <li class="mat-header" style="font-weight: 400">Especialista:</li>
          </ul>
        </mat-card-tittle>
        <mat-card-content>
          <ul>
            <li>
              <span class="card-content">Hora:</span>
            </li>
            <li>
              <span class="card-content">Consulta:</span>
            </li>
            <li>
              <span class="card-content">Email:</span>
            </li>
            <li>
              <span class="card-content">Previsión:</span>
            </li>
            <li>
              <span class="card-content">Pago:</span>
            </li>
          </ul>
          <div>
            <button mat-raised-button>Anular</button>
            <button mat-raised-button color="primary">Reagendar</button>
          </div>
        </mat-card-content>
      </mat-card>
    </div>
  </div>
  <router-outlet></router-outlet>
</div>
