.container {
  margin-left: 105px;
  margin-top: 40px;
}
h2 {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 20px;
  margin-bottom: 30px;
}

.box {
  width: 315px;
}

.mat-button-toggle {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  size: 16px;
  align-content: center;
  padding: 0px 30px 0px 30px;
}

.mat-form-field {
  width: 100%;
  font-size: 20px;
}

h4 {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 20px;
  margin-top: 40px;
  margin-bottom: 40px;
}

mat-form-field {
  margin-right: 12px;
}

.conveios-section {
  margin: 12px 0;
}

.convenios-margin {
  margin: 0 12px;
}

mat-checkbox {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 20px;
}
