<div class="page">
  <div class="menu">
    <app-header></app-header>
  </div>
  <div class="contain">
    <app-filtros-busqueda></app-filtros-busqueda>
    <!-- <button (click)="cargarCitas()">Cargar horas</button> -->

    <!--CALENDARIO INICIO-->
    <div class="calendar">
      <div class="row">
        <div style="width: 70px">
          <div class="horario">
            <h2>&nbsp;</h2>
          </div>
          <mwl-calendar-day-view
            [viewDate]="viewDate"
            [dayStartHour]="horaDeInicio"
            [dayEndHour]="20"
            [hourSegments]="4"
          ></mwl-calendar-day-view>
        </div>

        <!-- BOXES-->
        <div class="row m-0 box">
          <div
            [style]="{ width: 100 / citas.length + '%', textAlign: 'center' }"
            *ngFor="let box of citas"
          >
            <div class="nombre-box">
              <h2>{{ box.box.nombre }}</h2>
            </div>
            <mwl-calendar-day-view
              [viewDate]="viewDate"
              [events]="box.events"
              [refresh]="refresh"
              (eventClicked)="handleEvent( $event.event, $event)"
              (hourSegmentClicked)="hourClicked(box.box.id, $event.date, $event)"
              [dayStartHour]="horaDeInicio"
              [hourSegments]="4"
              [dayEndHour]="20"
              (beforeViewRender)="bloquearHorasEnCalendario($event,box.horasBloqueadas,box.horasDisponibles)"
            ></mwl-calendar-day-view>
          </div>
        </div>
      </div>
    </div>
    <!--CALENDARIO FIN-->

    <!-- Modal con detalle de la cita -->

    <ng-template #modalContent let-close="close">
      <!--<div class="modal-header">
        <h5 class="modal-title">Detalle de cita</h5>
        <button type="button" class="close" (click)="close()">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body row">

        <div>
          <label>Profesional:</label>
          <label>{{ modalData?.event?.meta?.profesional }}</label>
        </div>

        <div>
          <label>Cliente:</label>
          <label>{{ modalData?.event?.meta?.cliente }}</label>
        </div>

        <div>
          <label>Tipo de cita:</label>
          <label>{{ modalData?.event?.meta?.tipoDeCita }}</label>
        </div>

        <div>
          <label>Box:</label>
          <label>{{ modalData?.event?.meta?.box }}</label>
        </div>

        <div>
          <label>Fecha Inicio:</label>
          <label>{{ modalData?.event?.start }}</label>
        </div>

        <div>
          <label>Fecha Inicio:</label>
          <label>{{ modalData?.event?.end }}</label>
        </div>
      </div>
      <div class="modal-footer">
        <button
          type="button"
          class="btn btn-outline-secondary"
          (click)="close()"
        >
          OK
        </button>
      </div> -->
      <mat-card class="resumen-reserva">
        <div class="header-card">
          <mat-card-tittle>Paciente: Valentina Escobar</mat-card-tittle>
          <br />
          <mat-card-subtittle
            >Especialista: Yolanda Sepulveda</mat-card-subtittle
          >
          <!-- <button
            mat-icon-button
            disabled
            aria-label="Example icon button with a open in new tab icon"
          >
            <mat-icon>cancel</mat-icon>
          </button>-->
        </div>
        <mat-card-content>
          <ul>
            <li>
              <span>Día/hora:</span>
            </li>
            <li>
              <span>Consulta:</span>
            </li>
            <li>
              <span>Email:</span>
            </li>
            <li>
              <span>teléfono:</span>
            </li>
            <li>
              <span>Previsión:</span>
            </li>
            <li>
              <span>Pago:</span>
            </li>
          </ul>
          <div class="btn-card">
            <button mat-raised-button color="primary" class="btn-card-izq">
              Eliminar
            </button>
            <button mat-raised-button>Editar</button>
          </div>
        </mat-card-content>
        <mat-card-footer> </mat-card-footer>
      </mat-card>
    </ng-template>

    <ng-template #modalReservarCancelar let-close="close">
      <mat-card>
        <ul>
          <li class="PopUpReservaIcon">
            <span class="material-icons"> event_available </span>
            <div class="reservarHora">RESERVAR HORA</div>
          </li>
          <li class="PopUpReservaIcon">
            <span class="material-icons"> cancel </span>
            <div class="reservarHora">CANCELAR HORA</div>
          </li>
        </ul>

        <!-- <mat-card-footer> </mat-card-footer> -->
      </mat-card>
    </ng-template>

    <router-outlet></router-outlet>
  </div>
</div>
