<div class="page">
  <div class="menu">
    <app-header></app-header>
  </div>
  <div class="contain">
    <app-filtros-busqueda (changeFiltersValues)="filterChanged($event)"></app-filtros-busqueda>

    <!--CALENDARIO INICIO-->
    <div class="calendar">
      <h2 style="text-align-last: center;">
        {{ viewDate | calendarDate: view + "ViewTitle":"es" }}
      </h2>

      <div class="row">
        <div style="width: 70px">
          <div class="horario">
            <h2>&nbsp;</h2>
          </div>
          <mwl-calendar-day-view
            id="fecha-seleccionada"
            [viewDate]="viewDate"
            [dayStartHour]="horaDeInicio"
            [dayEndHour]="20"
            [hourSegments]="4"
          ></mwl-calendar-day-view>
        </div>

        <!-- BOXES-->
        <div class="row m-0 box">
          <div style="{{styleCalendar}}"
               *ngFor="let box of citas">
            <div class="nombre-box">
              <h2>{{ box.box.nombre }}</h2>
            </div>
            <mwl-calendar-day-view
              [viewDate]="viewDate"
              [events]="box.reservas"
              [refresh]="refresh"
              (eventClicked)="handleEvent( $event.event, $event)"
              (hourSegmentClicked)="hourClicked(box.box.idBox, $event.date, $event)"
              [dayStartHour]="horaDeInicio"
              [hourSegments]="4"
              [dayEndHour]="20"
              (beforeViewRender)="
                bloquearHorasEnCalendario(
                  $event,
                  box.horasBloqueadas,
                  box.horasDisponibles
                )"
            ></mwl-calendar-day-view>
          </div>
        </div>
      </div>
    </div>
    <!--CALENDARIO FIN-->

    <!-- Modal con detalle de la cita -->

    <ng-template #modalResumen let-close="close">
      <mat-card>
        <div class="header-card">
          <mat-card-tittle>Paciente: {{modalResumenData.meta.nombreCliente}}</mat-card-tittle>
          <br/>
          <mat-card-subtittle>
            Especialista: {{ modalResumenData.meta.nombreEspecialista }}
          </mat-card-subtittle>
        </div>
        <mat-card-content>
          <ul>
            <li>
              <span>Día/hora: {{ modalResumenData.start | date: 'short' }}</span>
            </li>
            <li>
              <span>
                Consulta: {{ modalResumenData.meta.nombreServicio }}
              </span>
            </li>
            <li>
              <span>
                Email: {{ modalResumenData.meta.emailCliente }}
              </span>
            </li>
            <li>
              <span>
                teléfono:{{ modalResumenData.meta.telefonoCliente }}
              </span>
            </li>
            <li>
              <span>
                Previsión: <!-- {{ modalResumenData.meta. }} -->
              </span>
            </li>
            <li>
              <span>
                Pago: <!-- {{ modalResumenData. }} -->
              </span>
            </li>
          </ul>
          <div class="btn-card">
            <button mat-raised-button color="primary" class="btn-card-izq">
              Eliminar
            </button>
            <button mat-raised-button>Editar</button>
          </div>
        </mat-card-content>
        <mat-card-footer></mat-card-footer>
      </mat-card>
    </ng-template>


    <router-outlet></router-outlet>
  </div>
</div>


<ng-template #modalNuevaReserva let-close="close">
  <mat-card style="padding:15px">

    <div class="header-card">
      Reserva de hora
    </div>

    <div class="row">
      <div class="col-sm-12">
        <mat-form-field appearance="outline">
          <mat-label>Buscador</mat-label>
          <input matInput [(ngModel)]="rutCliente" placeholder="12345678-9"/>
          <button mat-button matSuffix mat-stroked-button aria-label="search"
                  (click)="findClienteByRut(rutCliente)">
            <mat-icon>search</mat-icon>
          </button>
        </mat-form-field>

        <div class="alert alert-warning alert-dismissible fade show"
             *ngIf="showAlertRutNoEncontrado">
          No se encontró el rut en la base de datos
          <button type="button" class="close" aria-label="Close"
                  (click)="showAlertRutNoEncontrado = false">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>

      </div>

      <div class="col-sm-6">
        <mat-form-field appearance="outline">
          <mat-label>Nombre</mat-label>
          <input matInput [(ngModel)]="reservaForm.cliente.nombre"/>
        </mat-form-field>
      </div>

      <div class="col-sm-6">
        <mat-form-field appearance="outline">
          <mat-label>Apellido</mat-label>
          <input matInput [(ngModel)]="reservaForm.cliente.apellido"/>
        </mat-form-field>
      </div>

      <div class="col-sm-6">
        <mat-form-field appearance="outline">
          <mat-label>Rut</mat-label>
          <input matInput [(ngModel)]="reservaForm.cliente.rut"/>
        </mat-form-field>
      </div>

      <div class="col-sm-6">
        <mat-form-field appearance="outline">
          <mat-label>Fecha de nacimiento</mat-label>
          <input matInput [matDatepicker]="pickerFechaNacimiento"
                 [(ngModel)]="reservaForm.cliente.fechaNacimiento"
                 (dateChange)="calcularEdadCliente($event.value)"
          />
          <mat-datepicker-toggle
            matSuffix
            [for]="pickerFechaNacimiento"></mat-datepicker-toggle>
          <mat-datepicker #pickerFechaNacimiento></mat-datepicker>
        </mat-form-field>
      </div>

      <div class="col-sm-6">
        <mat-form-field appearance="outline">
          <mat-label>Edad</mat-label>
          <input matInput disabled [(ngModel)]="edadClienteForm"/>
        </mat-form-field>
      </div>

      <div class="col-sm-6">
        <mat-form-field appearance="outline">
          <mat-label> Prevision</mat-label>
          <mat-select>
            <mat-option>
              prevision
            </mat-option>
          </mat-select>
        </mat-form-field>
      </div>

      <div class="col-sm-6">
        <mat-form-field appearance="outline">
          <mat-label>Telefono</mat-label>
          <input matInput/>
        </mat-form-field>
      </div>

      <div class="col-sm-6">
        <mat-form-field appearance="outline">
          <mat-label>Email</mat-label>
          <input matInput/>
        </mat-form-field>
      </div>


      <div class="col-sm-12">
        <h4>Reserva</h4>
      </div>

      <div class="col-sm-6">
        <mat-form-field appearance="outline">
          <mat-label>Fecha</mat-label>
          <input matInput disabled [(ngModel)]="fechaReservaForm"/>
        </mat-form-field>
      </div>


      <div class="col-sm-6">
        <mat-form-field appearance="outline">
          <mat-label>Hora</mat-label>
          <input matInput type="time" disabled [(ngModel)]="reservaForm.horaReserva"/>
        </mat-form-field>
      </div>


      <div class="col-sm-6">
        <mat-form-field appearance="outline">
          <mat-label> Especialista</mat-label>
          <mat-select>
            <mat-option>
              especialista
            </mat-option>
          </mat-select>
        </mat-form-field>
      </div>

      <div class="col-sm-6">
        <mat-form-field appearance="outline">
          <mat-label> Especialidad</mat-label>
          <mat-select>
            <mat-option>
              especialidad
            </mat-option>
          </mat-select>
        </mat-form-field>
      </div>

      <div class="col-sm-6">
        <mat-form-field appearance="outline">
          <mat-label> Tipo prestación / servicio</mat-label>
          <mat-select>
            <mat-option>
              servicio
            </mat-option>
          </mat-select>
        </mat-form-field>
      </div>

      <div class="col-sm-6">
        <mat-form-field appearance="outline">
          <mat-label>Precio</mat-label>
          <input matInput type="number" disabled/>
        </mat-form-field>
      </div>

      <div class="col-sm-6">
        <mat-form-field appearance="outline">
          <mat-label>Duración</mat-label>
          <input matInput type="number" disabled/>
        </mat-form-field>
      </div>

      <div class="col-sm-6">
        <mat-form-field appearance="outline">
          <mat-label> Estado de pago</mat-label>
          <mat-select>
            <mat-option>
              estado de pago
            </mat-option>
          </mat-select>
        </mat-form-field>
      </div>


      <div class="col-sm-12 text-right">

        <button mat-raised-button color="accent">CANCELAR</button>
        <button class="ml-4" mat-raised-button color="primary">AGENDAR</button>

      </div>


    </div>


    <!-- <mat-card-footer> </mat-card-footer> -->
  </mat-card>
</ng-template>
