<div class="page">
  <div class="menu">
    <app-header></app-header>
  </div>
  <div class="contain">
    <app-filtros-busqueda (changeFiltersValues)="filterChanged($event)"></app-filtros-busqueda>

    <!--CALENDARIO INICIO-->
    <div class="calendar">
      <h3>
        {{ viewDate | calendarDate: view + "ViewTitle":"en" }}
      </h3>

      <div class="row">
        <div style="width: 70px">
          <div class="horario">
            <h2>&nbsp;</h2>
          </div>
          <mwl-calendar-day-view
            id="fecha-seleccionada"
            [viewDate]="viewDate"
            [dayStartHour]="horaDeInicio"
            [dayEndHour]="20"
            [hourSegments]="4"
          ></mwl-calendar-day-view>
        </div>

        <!-- BOXES-->
        <div class="row m-0 box">
          <div style="{{styleCalendar}}"
               *ngFor="let box of citas">
            <div class="nombre-box">
              <h2>{{ box.box.nombre }}</h2>
            </div>
            <mwl-calendar-day-view
              [viewDate]="viewDate"
              [events]="box.reservas"
              [refresh]="refresh"
              (eventClicked)="handleEvent( $event.event, $event)"
              (hourSegmentClicked)="hourClicked(box.box.idBox, $event.date, $event)"
              [dayStartHour]="horaDeInicio"
              [hourSegments]="4"
              [dayEndHour]="20"
              (beforeViewRender)="
                bloquearHorasEnCalendario(
                  $event,
                  box.horasBloqueadas,
                  box.horasDisponibles
                )"
            ></mwl-calendar-day-view>
          </div>
        </div>
      </div>
    </div>
    <!--CALENDARIO FIN-->

    <!-- Modal con detalle de la cita -->

    <ng-template #modalResumen let-close="close">
      <mat-card class="resumen-reserva">
        <div class="header-card">
          <mat-card-tittle>Paciente: {{modalResumenData.meta.nombreCliente}}</mat-card-tittle>
          <br/>
          <mat-card-subtittle>
            Especialista: {{ modalResumenData.meta.nombreEspecialista }}
          </mat-card-subtittle>
          <!-- <button
            mat-icon-button
            disabled
            aria-label="Example icon button with a open in new tab icon"
          >
            <mat-icon>cancel</mat-icon>
          </button>-->
        </div>
        <mat-card-content>
          <ul>
            <li>
              <span>Día/hora: {{ modalResumenData.start | date: 'short' }}</span>
            </li>
            <li>
              <span>
                Consulta: {{ modalResumenData.meta.nombreServicio }}
              </span>
            </li>
            <li>
              <span>
                Email: {{ modalResumenData.meta.emailCliente }}
              </span>
            </li>
            <li>
              <span>
                teléfono:{{ modalResumenData.meta.telefonoCliente }}
              </span>
            </li>
            <li>
              <span>
                Previsión: <!-- {{ modalResumenData.meta. }} -->
              </span>
            </li>
            <li>
              <span>
                Pago: <!-- {{ modalResumenData. }} -->
              </span>
            </li>
          </ul>
          <div class="btn-card">
            <button mat-raised-button color="primary" class="btn-card-izq">
              Eliminar
            </button>
            <button mat-raised-button>Editar</button>
          </div>
        </mat-card-content>
        <mat-card-footer></mat-card-footer>
      </mat-card>
    </ng-template>

    <ng-template #modalReservarCancelar let-close="close">
      <mat-card>
        <ul>
          <li class="PopUpReservaIcon" (click)="abrirModalReservaHora()">
            <span class="material-icons"> event_available </span>
            <div class="reservarHora">RESERVAR HORA</div>
          </li>
          <li class="PopUpReservaIcon">
            <span class="material-icons"> cancel </span>
            <div class="reservarHora">ANULAR HORA</div>
          </li>
        </ul>

        <!-- <mat-card-footer> </mat-card-footer> -->
      </mat-card>
    </ng-template>

    <router-outlet></router-outlet>
  </div>
</div>
