<div class="menu">
    <mat-toolbar>
        <mat-toolbar-row>
          <div class="logo">
            <div class="image">
              <img id="logo" src="/assets/images/quarto.png" >
            </div>
          </div>
          <nav class="nav">
          <a button mat-button routerLink="">Actividad</a>
          <a button mat-button routerLink="/calendario">Calendario</a>
          <a button mat-button routerLink="">Clientes</a>
          <a button mat-button routerLink="">Administración</a>
        </nav>
      </mat-toolbar-row>
    </mat-toolbar>    
</div>



