.mat-toolbar {
  background: #3d3d3d;
  width: 100%;
  height: 65px;
}

ul {
  list-style: none;
}
ul li {
  display: flex;
  float: right;
  padding-right: 54px;
  padding-top: 20px;
  color: #f4c004;
  font-size: 16px;
  font-family: "helvetica";
}
.logo {
  display: flex;
  margin-top: 5px;
  margin-left: 45px;
  margin-right: 200px;

  .image {
    img {
      width: 122px;
      height: 36px;
    }
  }
}

.mat-toolbar-row {
  display: flex;
}

.mat-button {
  color: #f4c004;
  font-size: 16px;
  font-family: "helvetica";
}
