<div class="menu">
  <mat-toolbar>
    <mat-toolbar-row>
      <div class="logo">
        <div class="image">
          <img id="logo" src="/assets/images/quarto.png" />
        </div>
      </div>
      <nav class="nav">
        <button mat-button>Actividad</button>

        <button mat-button [matMenuTriggerFor]="belowMenu">Calendario</button>
        <mat-menu #belowMenu="matMenu" yPosition="below">
          <button routerLink="/calendario/dia" mat-menu-item>
            Reservar hora
          </button>
          <button routerLink="/calendario/anular-horas" mat-menu-item>
            Anular hora
          </button>
          <button routerLink="/calendario/bloquear-horas" mat-menu-item>
            Bloqueo de hora
          </button>
        </mat-menu>

        <button mat-button>Clientes</button>

        <button mat-button>Administración</button>
        <button routerLink="/login" mat-button style="color: white">
          Cerrar sesión
        </button>
      </nav>
    </mat-toolbar-row>
  </mat-toolbar>
</div>
